* {
  margin: 0;
  padding: 0;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: white;
}

.todo-input {
  background: none;
  outline: none;
  font-size: 1.5rem;
  border: none;
  border-bottom: 0.1rem white solid;
  margin: 2rem;
}

.todoListElementContainer {
  width: 15rem;
  margin-bottom: 1rem;
  display: flex;
}
.todoListElementContainer li {
  list-style: none;
  font-size: 1.5rem;
  width: 100%;
}
.todoListElementContainer button {
  background: none;
  border: none;
  cursor: pointer;
}